
.container {
	max-width: 1400px;
}


form>fieldset>legend {

    padding-left: 5px;
    background-color: #3474f6;
	color: white;

}

form>fieldset {
	background-color : #E6E6E6;
}


/************************************************
 * Balises de contenu
 ************************************************/

td
{
	-webkit-user-select: none;
	-moz-user-select: none;
}	
 
.jour_ouvre
{
	background-color: #FFFFFF;
}
.jour_ferme
{
	background-color: #A4A4A4;
}

.jour_ferie
{
	background-color: #F5FC2A;
}

.rtt_jour
{
	background-color: #4DFE2A;	
}
.rtt_demi
{
	/*background-color: #A1FF8E;*/
	color: white;
	background: -webkit-repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #4DFE2A 5px, #4DFE2A 10px);
	background: repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #4DFE2A 5px, #4DFE2A 10px);
}

.conges_jour
{
	background-color: #039FD8;	
}
.conges_demi
{
	/*background-color: #7DDAFC;	*/
	color: white;
	background: -webkit-repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #7DDAFC 5px, #7DDAFC 10px);
	background: repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #7DDAFC 5px, #7DDAFC 10px);
}

.cpa_jour
{
	background-color: #5cdcf8;	
}
.cpa_demi
{
	/*background-color: #7DDAFC;	*/
	color: white;
	background: -webkit-repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #5cdcf8 5px, #5cdcf8 10px);
	background: repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #5cdcf8 5px, #5cdcf8 10px);
}

.cps_jour
{
	background-color: #BCA9F5;	
}
.cps_demi
{
	/*background-color: #7DDAFC;	*/
	color: white;
	background: -webkit-repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #BCA9F5 5px, #BCA9F5 10px);
	background: repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #BCA9F5 5px, #BCA9F5 10px);
}

.periodeComplete {
	background-color: #A1FF8E;
}

.periodeIncomplete {
	background-color: #FE9A2E;
}

.periodeTropSaisi {
	background-color: #FE2E2E;
}

.th_mois_encours {
	color: blue;
}
